body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}


select {
    margin-top: 10px;
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

#clock{
    color: #00ffcc;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 3px;
}

/* container */
.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.container h1{
    color: grey;
}
.container label{
    color: grey;
}
.container #timezone{
    background-color: grey;
}

/* Header Section */
.header {
      display: flex;
      justify-content: center;
      gap: 40px;
      background: #222;
      padding: 15px;
      position: fixed; /* selalu nempel di atas */
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000; /* biar nggak ketutup konten lain */
}

.header a {
      color: white;
      text-decoration: none;     /* hilangkan underline */
      font-size: 20px;
      font-weight: bold;
      transition: color 0.3s, transform 0.2s;
}

.header a:hover{
    color:grey;
    transform: scale(1.1);
}

